*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;

  font-weight: 400;
  font-size: 16px;
  background-color: hsl(204, 22%, 87%);
}
h2,
.title-course {
  font-family: "Readex Pro", sans-serif; /* لو حابة تستخدم للـ headings */
  font-weight: 700;
}

.container {
  margin: 60px auto;
  padding: 15px;
  background-color: hsl(204, 43%, 93%);
  width: 90%;
  max-width: 650px;
  border-radius: 2px;
}
/* ---------- Titles & Description (Heading & Course Info) ---------- */

.title-course {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
}
.course-guarantee {
  color: hsl(71, 69%, 49%);
}

.course-description {
  color: gray;
  padding: 5px;
}
.course-target {
  color: gray;
  padding: 5px;
  width: 100%;
}

.price-monthly {
  font-size: 18px;
  background-color: hsl(179, 60%, 40%);
  color: hsl(204, 43%, 93%);
  margin-top: 60px;
  line-height: 30px;
}

/* ---------- Buttons (Signup Button) ---------- */

.course-signup {
  background-color: hsl(71, 73%, 54%);
  color: hsl(204, 43%, 93%);
  border-radius: 2px;
  border: none;
  padding: 12px 80px;
  align-self: start;
  width: fit-content;
}
.course-signup:hover {
  background-color: hsl(71, 73%, 45%);
  cursor: pointer;
}
/* ---------- Grid Section ---------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  background-color: hsl(179, 62%, 43%);
}
.pricing-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: hsl(179, 64%, 37%);
  padding-left: 20px;
  height: 100%;

  color: hsl(217, 26%, 80%);
}
.course-why-choose-us {
  background-color: hsl(179, 62%, 43%);

  line-height: 25px;
  color: hsl(217, 26%, 80%);
  grid-column: 2;
  font-size: 16px;
  padding: 20px;
}

.price {
  font-size: 30px;
}
.why-us {
  font-size: 25px;
  padding: 20px;
}

/* ---------- Footer (Links & Copyright) ---------- */

footer {
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
  color: hsl(158, 42%, 29%);
  background-color: #f8f8f8;
}

footer a {
  color: hsl(158, 41%, 30%);
  text-decoration: none;
  font-weight: 700;
}

footer a:hover {
  text-decoration: underline;
  color: hsl(158, 23%, 59%);
}
footer a:active {
  color: hsl(158, 23%, 59%);
}
